<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Rails todo sample</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to 'Home', tasks_path, { :class => "nav-link" } %>
        </li>
        <li class="nav-item">
          <%= link_to 'New Task', new_task_path, { :class => "nav-link" } %>
        </li>
      </ul>
    </div>
  </div>
</nav>



<h1 class="my-4">Task
  <small>Detail</small>
</h1>



<h2><%= @task.title %></h2>
<p><%= simple_format(h(@task.description)) %></p>
<p><%= @task.completed ? 'Done' : '' %></p>
